{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <title>Sorting Algorithm Visualizer</title>
    <style>
        #visualize svg {
            width: 100%;
            height: 5000px;
        }
    </style>
</head>

<body>
    <h1>Sorting Algorithm Visualizer</h1>
    <form id="sort-form">
        {% csrf_token %}
        <label>Enter a list of numbers separated by commas:</label>
        <input type="text" name="data" required>
        <button type="submit">Sort</button>
    </form>

    <div id="result-container-list"></div>
    <div class="or" style="display: none;">or</div>
    <div id="result-container-json"></div>
    <div class="or" style="display: none;">or</div>
    <div id="result-container-listoLists"></div>
    <div id="render-container"></div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static '/matter.js' %}"></script>
    <script src="{% static '/matter_visualization.js' %}"></script>
    <script>
        document.getElementById("sort-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the form data
            var form = event.target;
            var formData = new FormData(form);

            // Send an AJAX request to the server
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'submit_form' %}");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Handle the successful response
                    var parsedResponse = JSON.parse(xhr.responseText);
                    var data = parsedResponse[0];
                    var sortedlist = parsedResponse[1];
                    var sortedlistoflists = parsedResponse[2];

                    // Update the content on the page using the response data
                    document.getElementById("result-container-list").innerHTML = sortedlist;
                    document.getElementById("result-container-json").innerHTML = data;
                    document.getElementById("result-container-listoLists").innerHTML = renderArray(sortedlistoflists);

                    var elements = document.getElementsByClassName("or");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.display = "block";
                    }

                    const root = JSON.parse(data);
                    renderNodes(root);

                    console.log("Nice")
                } else {
                    // Handle the error response
                    console.error("Request failed with status", xhr.status);
                }
            };
            xhr.send(formData);
        });

    </script>
</body>

</html>